body {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh;
    min-width: 200px;

    background-color: #f5f6f5;
}

.list {
    margin: 10px 0;
    background-color: pink;
    color: #000;
    font-size: 80px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container .current {
    background-color: #4e6ef2;
}

ol {
    margin: 0 0;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}


ol>button,
ol>ul li {
    float: left;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 5px;
}

ol ul li {
    margin: 0 8px;
    padding: 10px 13px;
}

ol .current {
    color: #fff;
    background-color: #4e6ef2;
}

ol li:hover,
ol .unique:hover {
    color: #fff;
    background-color: #4e6ef2;
    cursor: pointer;
}

ol button:hover {
    cursor: not-allowed;
}