@font-face {
  font-family: "iconfont"; /* Project id 3251423 */
  src: url('iconfont.woff2?t=1653743015981') format('woff2'),
       url('iconfont.woff?t=1653743015981') format('woff'),
       url('iconfont.ttf?t=1653743015981') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e6dd";
}

.icon-agree:before {
  content: "\e603";
}

.icon-message_fill_light:before {
  content: "\e7e8";
}

.icon-Customermanagement-fill:before {
  content: "\e77c";
}

.icon-likefill:before {
  content: "\e69d";
}

.icon-star1:before {
  content: "\e658";
}

.icon-comment:before {
  content: "\e669";
}

.icon-star:before {
  content: "\e7df";
}

.icon-dislike:before {
  content: "\e602";
}

.icon-quit:before {
  content: "\e61b";
}

.icon-Person:before {
  content: "\e604";
}

.icon-bussiness-man-fill:before {
  content: "\e779";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-favorites:before {
  content: "\e7b4";
}

.icon-person:before {
  content: "\e601";
}

.icon-message:before {
  content: "\e78a";
}

.icon-gerenzhongxin:before {
  content: "\e62a";
}

.icon-index:before {
  content: "\e626";
}

.icon-password:before {
  content: "\e82b";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e883";
}

.icon-weixin1:before {
  content: "\e666";
}

.icon-weibo:before {
  content: "\e667";
}

.icon-QQ1:before {
  content: "\e668";
}

.icon-house:before {
  content: "\e615";
}

.icon-telephone:before {
  content: "\e6a2";
}

.icon-email:before {
  content: "\e66f";
}

.icon-planefill:before {
  content: "\e6b2";
}

.icon-plane:before {
  content: "\e67e";
}

.icon-paper-plane:before {
  content: "\e7eb";
}

.icon-16gl-quoteRight:before {
  content: "\eb8a";
}

.icon-xiayinhao:before {
  content: "\e63e";
}

.icon-a-shuangyinhaoyou3x:before {
  content: "\e61c";
}

.icon-separators:before {
  content: "\e7ee";
}

.icon-16gl-comma:before {
  content: "\eb86";
}

.icon-play:before {
  content: "\e67a";
}

.icon-search1:before {
  content: "\e6ac";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-linkedin-fill:before {
  content: "\e890";
}

.icon-icon:before {
  content: "\e65f";
}

.icon-flash:before {
  content: "\e675";
}

.icon-flash-copy:before {
  content: "\eb4c";
}

.icon-clock:before {
  content: "\e6bb";
}

.icon-hotfill:before {
  content: "\e757";
}

.icon-iconfonticonfonti2:before {
  content: "\e62c";
}

.icon-facebook:before {
  content: "\e87d";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-border-style:before {
  content: "\eb4b";
}

.icon-arrow-left:before {
  content: "\e743";
}

.icon-arrow-up:before {
  content: "\e744";
}

.icon-hot:before {
  content: "\e753";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-man:before {
  content: "\e61a";
}

.icon-arrow-right:before {
  content: "\e665";
}

